# Check parsed dataset

## Load the pickle file

In [1]:
import pickle

In [2]:
infile = open('../pglib-opf-master/opf_data.pickle','rb')
opf_data_dict = pickle.load(infile)
infile.close()

## Check OPF dataset names

In [3]:
list(opf_data_dict.keys())

['pglib_opf_case2746wop_k.m',
 'pglib_opf_case2746wp_k.m',
 'pglib_opf_case13659_pegase.m',
 'pglib_opf_case2000_tamu.m',
 'pglib_opf_case6470_rte.m',
 'pglib_opf_case6515_rte.m',
 'pglib_opf_case3375wp_k.m',
 'pglib_opf_case162_ieee_dtc.m',
 'pglib_opf_case118_ieee.m',
 'pglib_opf_case2737sop_k.m',
 'pglib_opf_case500_tamu.m',
 'pglib_opf_case89_pegase.m',
 'pglib_opf_case2868_rte.m',
 'pglib_opf_case3120sp_k.m',
 'pglib_opf_case2736sp_k.m',
 'pglib_opf_case9241_pegase.m',
 'pglib_opf_case3012wp_k.m',
 'pglib_opf_case200_tamu.m',
 'pglib_opf_case240_pserc.m',
 'pglib_opf_case4661_sdet.m',
 'pglib_opf_case30_as.m',
 'pglib_opf_case2848_rte.m',
 'pglib_opf_case6468_rte.m',
 'pglib_opf_case6495_rte.m',
 'pglib_opf_case588_sdet.m',
 'pglib_opf_case24_ieee_rts.m',
 'pglib_opf_case57_ieee.m',
 'pglib_opf_case2383wp_k.m',
 'pglib_opf_case3_lmbd.m',
 'pglib_opf_case10000_tamu.m',
 'pglib_opf_case179_goc.m',
 'pglib_opf_case14_ieee.m',
 'pglib_opf_case1888_rte.m',
 'pglib_opf_case2869_pegase.m',
 'pglib_opf_case30_ieee.m',
 'pglib_opf_case39_epri.m',
 'pglib_opf_case30_fsr.m',
 'pglib_opf_case2316_sdet.m',
 'pglib_opf_case1354_pegase.m',
 'pglib_opf_case300_ieee.m',
 'pglib_opf_case73_ieee_rts.m',
 'pglib_opf_case2853_sdet.m',
 'pglib_opf_case5_pjm.m',
 'pglib_opf_case1951_rte.m']

## Check an example OPF dataset

In [8]:
import pandas as pd
import pprint

In [15]:
idx = 23
list(opf_data_dict.keys())[idx]

'pglib_opf_case6495_rte.m'

In [16]:
opf_data = opf_data_dict[list(opf_data_dict.keys())[idx]]

In [17]:
pp = pprint.PrettyPrinter(indent=4)
pp.pprint(opf_data)

{   'baseMVA': 100.0,
    'branch':         fbus    tbus         r         x       b   rateA   rateB   rateC  \
0     4639.0     1.0  0.005726  0.010482  0.0000  2186.0  2186.0  2186.0
1     5234.0     1.0  0.012840  0.025679  0.0000   910.0   910.0   910.0
2     1676.0     2.0  0.005799  0.010615  0.0075  2441.0  2441.0  2441.0
3     1667.0     3.0  0.134039  0.309398  0.0035    91.0    91.0    91.0
4     2296.0     3.0  0.049131  0.133283  0.0015   215.0   215.0   215.0
...      ...     ...       ...       ...     ...     ...     ...     ...
9014  4934.0  6495.0  0.000000  0.044965  0.0000   764.0   764.0   764.0
9015  4933.0  6496.0  0.000000  0.044965  0.0000   764.0   764.0   764.0
9016  4942.0  6497.0  0.000000  0.070769  0.0000   484.0   484.0   484.0
9017  4999.0  6498.0  0.000000  0.151250  0.0000   227.0   227.0   227.0
9018  4999.0  6499.0  0.000000  0.151250  0.0000   227.0   227.0   227.0

         ratio  angle  status  angmin  angmax
0     0.000000    0.0     1.0   -30.0    30.0
1     0.000000    0.0     1.0   -30.0    30.0
2     0.000000    0.0     1.0   -30.0    30.0
3     0.000000    0.0     1.0   -30.0    30.0
4     0.000000    0.0     1.0   -30.0    30.0
...        ...    ...     ...     ...     ...
9014  1.080978    0.0     1.0   -30.0    30.0
9015  1.080978    0.0     1.0   -30.0    30.0
9016  1.026316    0.0     1.0   -30.0    30.0
9017  1.044444    0.0     1.0   -30.0    30.0
9018  1.044444    0.0     1.0   -30.0    30.0

[9019 rows x 13 columns],
    'bus':        bus_i  type    Pd    Qd   Gs   Bs  area       Vm   Va  baseKV  zone  \
0        1.0   1.0   0.0   0.0  0.0  0.0   1.0  0.94444  0.0    45.0   1.0
1        2.0   1.0   0.0   0.0  0.0  0.0   1.0  1.00000  0.0    63.0   1.0
2        3.0   1.0  13.1   2.6  0.0  0.0   1.0  1.01588  0.0    63.0   1.0
3        4.0   1.0  49.2   3.4  0.0  0.0   1.0  1.01111  0.0    90.0   1.0
4        5.0   1.0  11.0   0.0  0.0  0.0   1.0  1.00794  0.0    63.0   1.0
...      ...   ...   ...   ...  ...  ...   ...      ...  ...     ...   ...
6490  6495.0   2.0  18.0  10.0  0.0  0.0   1.0  0.97500  0.0    20.0   1.0
6491  6496.0   2.0  18.0  10.0  0.0  0.0   1.0  0.97500  0.0    20.0   1.0
6492  6497.0   2.0   0.0   0.0  0.0  0.0   1.0  0.97500  0.0    15.0   1.0
6493  6498.0   2.0   0.0   0.0  0.0  0.0   1.0  0.97500  0.0    10.0   1.0
6494  6499.0   2.0   0.0   0.0  0.0  0.0   1.0  0.97500  0.0    10.0   1.0

         Vmax     Vmin
0     1.00000  0.88889
1     1.06349  0.93651
2     1.07937  0.95238
3     1.08889  0.93333
4     1.06349  0.95238
...       ...      ...
6490  1.15000  0.80000
6491  1.15000  0.80000
6492  1.15000  0.80000
6493  1.15000  0.80000
6494  1.15000  0.80000

[6495 rows x 13 columns],
    'gen':          bus     Pg      Qg    Qmax   Qmin        Vg  mBase  status   Pmax  \
0        4.0    0.0   0.000    0.00   0.00  1.011111  100.0     0.0   12.0
1        4.0    0.0   0.000    0.00   0.00  1.011111  100.0     0.0   10.0
2        5.0    0.0   0.000    0.00   0.00  1.007936  100.0     0.0    9.1
3       11.0   14.0   0.000    0.00   0.00  1.000001  100.0     1.0   28.0
4       11.0    0.0   0.000    0.00   0.00  1.000001  100.0     0.0   18.0
...      ...    ...     ...     ...    ...       ...    ...     ...    ...
1367  6495.0  203.0  30.365  148.09 -87.36  0.975000  100.0     1.0  268.0
1368  6496.0  203.0  30.365  148.09 -87.36  0.975000  100.0     1.0  268.0
1369  6497.0   90.0  27.800   97.80 -42.20  0.975000  100.0     1.0  180.0
1370  6498.0   68.0  43.880  133.88 -46.12  0.975000  100.0     1.0  136.0
1371  6499.0   64.0  38.950  123.95 -46.05  0.975000  100.0     1.0  128.0

       Pmin
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
1367  138.0
1368  138.0
1369    0.0
1370    0.0
1371    0.0

[1372 rows x 10 columns],
    'gencost':         2  startup  shutdown    n   c2          c1   c0
0     2.0      0.0       0.0  3.0  0.0   53.504391  0.0
1     2.0      0.0       0.0  3.0  0.0   32.508375  0.0
2     2.0      0.0       0.0  3.0  0.0   10.716435  0.0
3     2.0      0.0       0.0  3.0  0.0  129.027919  0.0
4     2.0      0.0       0.0  3.0  0.0  100.545331  0.0
...   ...      ...       ...  ...  ...         ...  ...
1367  2.0      0.0       0.0  3.0  0.0   41.664151  0.0
1368  2.0      0.0       0.0  3.0  0.0   36.308477  0.0
1369  2.0      0.0       0.0  3.0  0.0   35.669693  0.0
1370  2.0      0.0       0.0  3.0  0.0   48.555759  0.0
1371  2.0      0.0       0.0  3.0  0.0   42.151555  0.0

[1372 rows x 7 columns],
    'version': '2'}

In [18]:
print('bus shape: {}'.format(opf_data['bus'].shape))
print('gen shape: {}'.format(opf_data['gen'].shape))
print('branch shape: {}'.format(opf_data['branch'].shape))
print('gencost shape: {}'.format(opf_data['gencost'].shape))

bus shape: (6495, 13)
gen shape: (1372, 10)
branch shape: (9019, 13)
gencost shape: (1372, 7)

In [19]:
opf_data['bus']

,bus_i,type,Pd,Qd,Gs,Bs,area,Vm,Va,baseKV,zone,Vmax,Vmin
0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.94444,0.0,45.0,1.0,1.00000,0.88889
1,2.0,1.0,0.0,0.0,0.0,0.0,1.0,1.00000,0.0,63.0,1.0,1.06349,0.93651
2,3.0,1.0,13.1,2.6,0.0,0.0,1.0,1.01588,0.0,63.0,1.0,1.07937,0.95238
3,4.0,1.0,49.2,3.4,0.0,0.0,1.0,1.01111,0.0,90.0,1.0,1.08889,0.93333
4,5.0,1.0,11.0,0.0,0.0,0.0,1.0,1.00794,0.0,63.0,1.0,1.06349,0.95238
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6490,6495.0,2.0,18.0,10.0,0.0,0.0,1.0,0.97500,0.0,20.0,1.0,1.15000,0.80000
6491,6496.0,2.0,18.0,10.0,0.0,0.0,1.0,0.97500,0.0,20.0,1.0,1.15000,0.80000
6492,6497.0,2.0,0.0,0.0,0.0,0.0,1.0,0.97500,0.0,15.0,1.0,1.15000,0.80000
6493,6498.0,2.0,0.0,0.0,0.0,0.0,1.0,0.97500,0.0,10.0,1.0,1.15000,0.80000
6494,6499.0,2.0,0.0,0.0,0.0,0.0,1.0,0.97500,0.0,10.0,1.0,1.15000,0.80000

In [20]:
opf_data['gen']

,bus,Pg,Qg,Qmax,Qmin,Vg,mBase,status,Pmax,Pmin
0,4.0,0.0,0.000,0.00,0.00,1.011111,100.0,0.0,12.0,0.0
1,4.0,0.0,0.000,0.00,0.00,1.011111,100.0,0.0,10.0,0.0
2,5.0,0.0,0.000,0.00,0.00,1.007936,100.0,0.0,9.1,0.0
3,11.0,14.0,0.000,0.00,0.00,1.000001,100.0,1.0,28.0,0.0
4,11.0,0.0,0.000,0.00,0.00,1.000001,100.0,0.0,18.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1367,6495.0,203.0,30.365,148.09,-87.36,0.975000,100.0,1.0,268.0,138.0
1368,6496.0,203.0,30.365,148.09,-87.36,0.975000,100.0,1.0,268.0,138.0
1369,6497.0,90.0,27.800,97.80,-42.20,0.975000,100.0,1.0,180.0,0.0
1370,6498.0,68.0,43.880,133.88,-46.12,0.975000,100.0,1.0,136.0,0.0
1371,6499.0,64.0,38.950,123.95,-46.05,0.975000,100.0,1.0,128.0,0.0

In [21]:
opf_data['gencost']

        2  startup  shutdown    n   c2          c1   c0
0     2.0      0.0       0.0  3.0  0.0   53.504391  0.0
1     2.0      0.0       0.0  3.0  0.0   32.508375  0.0
2     2.0      0.0       0.0  3.0  0.0   10.716435  0.0
3     2.0      0.0       0.0  3.0  0.0  129.027919  0.0
4     2.0      0.0       0.0  3.0  0.0  100.545331  0.0
...   ...      ...       ...  ...  ...         ...  ...
1367  2.0      0.0       0.0  3.0  0.0   41.664151  0.0
1368  2.0      0.0       0.0  3.0  0.0   36.308477  0.0
1369  2.0      0.0       0.0  3.0  0.0   35.669693  0.0
1370  2.0      0.0       0.0  3.0  0.0   48.555759  0.0
1371  2.0      0.0       0.0  3.0  0.0   42.151555  0.0

[1372 rows x 7 columns]

In [22]:
opf_data['branch']

,fbus,tbus,r,x,b,rateA,rateB,rateC,ratio,angle,status,angmin,angmax
0,4639.0,1.0,0.005726,0.010482,0.0000,2186.0,2186.0,2186.0,0.000000,0.0,1.0,-30.0,30.0
1,5234.0,1.0,0.012840,0.025679,0.0000,910.0,910.0,910.0,0.000000,0.0,1.0,-30.0,30.0
2,1676.0,2.0,0.005799,0.010615,0.0075,2441.0,2441.0,2441.0,0.000000,0.0,1.0,-30.0,30.0
3,1667.0,3.0,0.134039,0.309398,0.0035,91.0,91.0,91.0,0.000000,0.0,1.0,-30.0,30.0
4,2296.0,3.0,0.049131,0.133283,0.0015,215.0,215.0,215.0,0.000000,0.0,1.0,-30.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9014,4934.0,6495.0,0.000000,0.044965,0.0000,764.0,764.0,764.0,1.080978,0.0,1.0,-30.0,30.0
9015,4933.0,6496.0,0.000000,0.044965,0.0000,764.0,764.0,764.0,1.080978,0.0,1.0,-30.0,30.0
9016,4942.0,6497.0,0.000000,0.070769,0.0000,484.0,484.0,484.0,1.026316,0.0,1.0,-30.0,30.0
9017,4999.0,6498.0,0.000000,0.151250,0.0000,227.0,227.0,227.0,1.044444,0.0,1.0,-30.0,30.0
9018,4999.0,6499.0,0.000000,0.151250,0.0000,227.0,227.0,227.0,1.044444,0.0,1.0,-30.0,30.0

# Pre-process dataset